body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.game-container {
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 80%;
    margin-top: 20px;
}

#sentence {
    font-size: 24px;
    margin: 20px;
}

#stats {
    margin-top: 30px;
}

p {
    font-size: 18px;
}
